.container div:nth-child(1){
    background-color: brown;
    
    order: 2;
}

.container div:nth-child(2){
    background-color: blue;
    order: 3;
    
}

.container div:nth-child(3){
    background-color: blueviolet;
    /* flex-grow: 3; */
   
}

.container div:nth-child(4){
    background-color: black;
    order: -1;
}

.container div:nth-child(5){
    background-color: tomato;
    flex-shrink: 2;
}

.container div:nth-child(6){
    background-color: seagreen;
    
}

.container div{
    width: 50px;
    padding: 50px;
    margin: 5px;
    color: white;
    /* text-align: center; */
    font-size: 50pt;
    font-weight: bolder;
}

.container{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: baseline; */
    align-content: flex-start;
}
