<div class="main">

<!-- left -->
  <div id="left" class="sides">
    <button class="startButton" (click)="newGameClick($event)"> New Game </button>

    <img id="sloth" src="./assets/sloth.png" alt="sloth" width="150px" style="position: relative">
    <div id="slothSecrets">
      {{clue}}
    </div>

    <div id=livesLabel>
      Lives: {{lives}}
    </div>
  </div>

<!-- middle -->
  <div id="middle">
    <img id="pic" src="./assets/Hangman6.gif" width="600" height="500">
    <div id="wordToGuess">Press New Game </div>
  </div>

<!-- right -->
  <div id="right" class="sides">
    <button class="endButton" (click)="endGameClick($event)">End Game</button>
    <div>
      <button (click)="techClickOn($event)">
        Tech Used
      </button>
    </div>
    <div id="categoryBox">
      Category:
      <div id="category">{{category}}</div>
    </div>
  </div>

</div>

<!-- bottom -->
<div class="buttons">
  <div class="letters" id="a">A</div>
  <div class="letters" id="b">B</div>
  <div class="letters" id="c">C</div>
  <div class="letters" id="d">D</div>
  <div class="letters" id="e">E</div>
  <div class="letters" id="f">F</div>
  <div class="letters" id="g">G</div>
  <div class="letters" id="h">H</div>
  <div class="letters" id="i">I</div>
  <div class="letters" id="j">J</div>
  <div class="letters" id="k">K</div>
  <div class="letters" id="l">L</div>
  <div class="letters" id="m">M</div>
  <div class="letters" id="n">N</div>
  <div class="letters" id="o">O</div>
  <div class="letters" id="p">P</div>
  <div class="letters" id="q">Q</div>
  <div class="letters" id="r">R</div>
  <div class="letters" id="s">S</div>
  <div class="letters" id="t">T</div>
  <div class="letters" id="u">U</div>
  <div class="letters" id="v">V</div>
  <div class="letters" id="w">W</div>
  <div class="letters" id="x">X</div>
  <div class="letters" id="y">Y</div>
  <div class="letters" id="z">Z</div>
</div>

<div id="gameOverWords">
  <p>GAME OVER <br> The Word<br> was: <br>{{chosenWord}}</p>
</div>

<div id="gameWinWords">
  <p>YOU WIN!</p>
</div>

<app-tech-used></app-tech-used>

<!-- audio -->
<audio id="chalk" src="./assets/chalk.mp3" preload="auto"></audio>
<audio id="eraser" src="./assets/eraser.mp3" preload="auto"></audio>
<audio id="hung" src="./assets/Puke.m4a" preload="auto"></audio>