* {
    font-family: monospace;
}
div{
    font-family: monospace;
    display: grid;
    justify-content: center;
}

.main{
    grid-template-columns: auto auto auto;
    background-color: rgb(245, 245, 220);
    background-color: rgb(214, 214, 165);
}

button:hover{
    cursor: pointer;
}

.main button{
    border-radius: 15px;
    height: 75px;
    background-color:  rgb(130, 80, 0);
    font-size: 22pt; 
    text-align: center;
    color: beige;
    width: 150px;
    margin: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    background-color: rgb(190, 140, 0);
    background-image: repeating-radial-gradient(rgb(190, 150, 0), rgb(130, 80, 0) 15%, rgb(175, 160, 25) 15%);
    padding: 5px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 15px;
    margin-top:5px;
    padding: 15px;
}

.letters{
    visibility: visible;
    padding: 10px;
    font-size: 20pt;
    padding: 7px;
    text-align: center;
    border-style: dashed;
    border-color: black;
    background-color: rgba(190, 140, 0, 0.8);
    transition-duration: .5s;
}

.letters:hover{
    background-color: rgb(130, 80, 0);
    cursor: pointer;
    transform: scale(1.2);
    transition-property: scale;
}

#wordToGuess{
    background-color: rgb(200, 200, 200);
    font-size: 45pt;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0px;
    font-family:monospace;
}

#canvas{
    background-color: rgb(72, 104, 56);
    background-image: radial-gradient(rgb(72, 104, 56), rgb(62, 94, 46));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#livesLabel{
    align-content: center;
    font-size: 18pt;
    transition-property: transform;
    transition-duration: 1s;
    height:10px;
}

#livesLabel:hover{
    transform: rotate(30deg);
    transition-property: transform;
    transition-duration: 2s;
}

#categoryBox{
    height: 50px;
    font-size: 18pt;
    text-align: center;
    transition-property: transform;
    transition-duration: 2s;
    transform-origin: 0% 100%;
}
#categoryBox:hover{
    transform:rotate(-20deg);
    transition-property: transform;
    transition-duration: 3s;
}

.sides{
    width: 160px;
    justify-content: center;
}

#gameOverWords{
    z-index: 999;
    position: fixed;
    top:5%;
    left:59%;
    visibility: hidden;
    font-size: 18pt;
    text-align:center;
    text-emphasis: bolder;
    color: white;
}

#gameWinWords{
    z-index: 999;
    position: fixed;
    top:5%;
    left:60%;
    visibility: hidden;
    font-size: 18pt;
    text-align:center;
    text-emphasis: bolder;
    color: white;
}

#sloth {
    z-index: 10;
    opacity: 1;
    transition: opacity .25s;
}
 
#sloth:hover + #slothSecrets {
    transition: opacity 1.5s ;
    opacity: 0.3;
    transition-delay: 1s;
}

 #slothSecrets{
    transition: opacity 1s;
     opacity: 0;
     max-height: 5px;
     margin:0;
     padding:0;
     font-size: 30pt;
 }
