@import url(http://fonts.googleapis.com/css?family=Nunito+Sans);

.two-columns{
    column-count: 2;
}

img{
    float: right;
    padding: 15px;

}

.container{
    display: flex;
}

.column-1{
    margin-right: 20px;
}
.container-manual *{
    background-color: cadetblue;
}

.manual-1{
    width: 49%;
}
.manual-2{
    position: relative;
    width: 49%;
    bottom: 926px;
    left: 580px;
}

h1, h2, h3, p{
    font-family: "Nunito Sans", Tahoma, Geneva, serif;
}