div{
    display: grid;
    justify-content: center;
}

.title{
    text-align: center;
}

.canvas{
    grid-template-columns: auto auto auto;
    background-color: aqua;
    
}
.canvas p{
    height: 75px;
    background-color: yellow;
    font-size: 25pt;
    text-align: center;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    background-color: rgb(190, 150, 0);
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
.letters:hover{
    background-color:  rgb(130, 80, 0);
}

.letters{
    padding: 10px;
    font-size: 15pt;
    text-align: center;
    border-style: dashed;
    border-color: black;
}

#wordToGuess{
    background-color: beige;
    font-size: 45pt;
}

#canvas{
    background-color: rgb(200, 250, 175);
    
}
