body{
    background-color: #CCCCCC;
}
ul{
    list-style-type: none;
    
}

ul li{/* child of ul & li */
    background-color: #6D7E8f;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
}
 
a{
    color: rgb(113, 0, 136);
    text-decoration: none;
}

a:visited{
    color: rgb(255, 0, 0);

}

/* p{
    visibility: hidden;
} */

/* 
* all elements - everything
. means class selector
nothing means tag selector
[] means attribute selector
# means id selector
: pseudo class selector

control / is comments
*/