<div id="techUsed">

  <div>
    <div id=techWordsBox>
      <button (click)="techClickOff($event)">CLOSE</button>
      <header>Technology Used Page</header>
        <p>1. HTML5- Used Header tag and Audio tag that are both new with HTML5.</p>
        <p>2. CSS- I styled most of my elements and components using my own CSS</p>
        <p>3. TypeScript compilation- I built my project in Angular, which uses TypeScript as its primary logical language.</p>
        <p>4. Frameworks/Libraries– I used the Angular framework and created multiple components that work together</p>
        <p>5. Node.js- implemented Electron for my application</p> 
        <p>6. A web server- implemented Electron for my application</p>
        <p>7. Fetching Data- Using an API from Wordnik, I fetch two random words for use in the Challenge Category. </p>  
        <p></p>
    </div>
  </div>
</div>