header{
    font-size: 20pt;
    justify-self: center;
}

#techUsed{
    position:fixed;
    z-index: 9999;
    top: 5px;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
    visibility: hidden;
}

#techWordsBox{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    color: beige;
    display: grid;
    grid-template-columns: 80%;
    align-items:center;
    justify-content: center;
    background-color:rgba(15, 77, 15, 0.93);
    height: 725px;
    border-radius: 15px;
}

button{
    font-family: monospace;
    border-radius: 15px;
    height: 35px;
    background-color: rgb(130, 80, 0);
    font-size: 14pt;
    text-align: center;
    justify-self: right;
    width: 100px;
    color:beige;
}